/* 
Color Key:
forest: #04202C
evergreen: #3040404
pine: #5B7065
fog: #C9D1C8
 */

 .header-container {
     display:flex;
     flex-direction:column;
 }

/* Navigation bar CSS */

.navbar-section {
    position: fixed;
    top: 0%;
    width: 100vw;
    z-index: 5;
    overflow: hidden;
    background-color:#414a4e;
    margin-bottom:5vh
}

.navbar {
    position:sticky;
    top: 0;
}

.navbar-nav {
    display:flex;
    flex-direction:column;
    justify-content:end;
}

.navbar-brand {
    color: white;
}

.nav-item a {
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Body CSS */

body {
    background-color: #04202C;
    color: #C9D1C8;
}

.body-section {
    margin-top:8vh;
    margin-bottom:14vh;
    height:100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.query-list {
    list-style-type: none;
    background-color: #063244;
    max-width:400px;
    margin-top:10px;
}

ul {
    list-style-type: none;
}

.text-right{
    float: right;
}

.text-left{
    float: left;
}

/* Canvas.js CSS */
.history-chart {
    margin-top: 20px;
}

/* Table CSS */
.CoinsTable{
    table-layout: fixed;
    background: white;
    color: #04202C;
    border-radius: 7px;
    overflow:scroll;
    width:auto;
    max-width:100vw;
    height:100%;
    max-height:76vh;
}

.CoinsTable-thead {
    display:table-header-group;
    height:5em;
}


#CoinsTable-header2 {
    position:sticky;
    width:10em;
    left:0;
    background-color:white;
    z-index: 2;
}

.CoinsTable-row {
    border-style:solid;
    border-color: #acc1c9;
    border-width:1px;
}

td {
    padding:0 20px 0 20px;
    text-align:center;
}

th {
    text-align:center;
}

.CoinsTable-row:hover {
    border-color: #3b9dc4;
}

.CoinsTable-row th {
    position:sticky;
    left:0;
    width:10em;
    background-color:white;
    z-index: 2;
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    box-shadow: 3px 0 10px rgb(0 0 0 / 0.1);

}

.CoinsTable-like-button {
    margin:.5rem 1.2rem .5rem .8rem;
}

.CoinsTable-Row-Header a{
    display:flex;
    flex-direction:column;
}

.CoinsTable-name-name {
    font-weight: bold;
    font-size: 1rem;
    text-align:left;
}

.CoinsTable-name-symbol {
    font-size: .7rem;
    text-align:left;
}

@media only screen and (min-width: 600px) { /* Small devices */
    .CoinsTable {
        max-height:85vh;
    }
}

@media only screen and (min-width: 768px) { /* Medium devices */

}


@media only screen and (min-width: 992px) { /* Large devices */
    #CoinsTable-header2 {
        width:15em;
    }

    .CoinsTable-thead {
        height:3em;
    }
}


@media only screen and (min-width: 1200px) { /* Extra large devices */
    .CoinsTable table {
        width:100%;
    }
}

/* Coins info CSS */
.CoinsInfo{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height:7em;
}

.CoinsInfo-header {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: left;
}

.CoinsInfo-header div {
    text-align: left;
    font-weight: bold;
}

.CoinsInfo-body {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: right;
}

.CoinsInfo-body div{
    text-align: right;
}

@media only screen and (min-width: 600px) { /* Small devices */
    .CoinsInfo {
        padding: 0 5em 0 5em;
    }
}

@media only screen and (min-width: 768px) { /* Medium devices */
    .CoinsInfo {
        flex-direction:column;
        height:4em;
        padding: 0;
    }

    .CoinsInfo-header {
        flex-direction:row;
        justify-content:space-between;
    }

    .CoinsInfo-header div {
        text-align: center;
    }

    .CoinsInfo-body {
        flex-direction:row;
        justify-content:space-between;
    }

    .CoinsInfo-body div{
        text-align: center;
    }

    .CoinsInfo-price {
        width:8em;
    }

    .CoinsInfo-percha {
        width:12em;
    }

    .CoinsInfo-marcap {
        width:10em;
    }

    .CoinsInfo-volume {
        width:10em;
    }
}


@media only screen and (min-width: 992px) { /* Large devices */
    .CoinsInfo {
        padding: 0 5em 0 5em;
    }
}


@media only screen and (min-width: 1200px) { /* Extra large devices */

}

/* news article CSS */
.Article {
    display:flex;
    flex-direction:column;
    align-items:left;
    color:#304044;
    background-color:white;
    border-radius: .3em;
    margin-bottom:1em;
}

.Article-header {
    display:flex;
    flex-direction:row;
}

#Article-image{
    max-width:100px;
    max-height:100px;
    width:auto;
    height:auto;
    border-radius: 4px;
    float:left;
    margin-right:.3rem;
}

.Article-name {
    display:flex;
    flex-direction:column; 

}

/* Homepage CSS */
.homepage {
    display:flex;
    flex-direction: column;
    width:100%;
}

.homepage-search {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width:100%;
    margin-top: 10px;
}

.homepage-query {
    width:100%;
}

.search-input-coins {
    width:100%;
}

.coins-query-searchbar {
    width:100%;
}

.query-list-coins li{
    position:absolute;
    z-index:10;
}

.query-results {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #094158;
    width:30%;
    min-width:200px;
}

.homepage-coin {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    width:100%;
}

.homepage-card {
    margin: 0 0 20px 0;
    width: 400px;
    height: 300px;
    max-height: 250px;
}

.card-header {
    font-weight: bold;
}

/* News page */
.article-section {
    margin-bottom:75px;
}

.coins-query {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Login page */
.Login {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:10vh;
    width:100%;
}

.loginform-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.loginform-container form{
    width:70vw;
    max-width:700px;
}

@media only screen and (min-width: 600px) { /* Small devices */
    .loginform-container form{
        width:60vw;
    }
}

@media only screen and (min-width: 768px) { /* Medium devices */
    .Login {
        margin-top:5vh;
    }
}


@media only screen and (min-width: 992px) { /* Large devices */
    
}


@media only screen and (min-width: 1200px) { /* Extra large devices */

}

/* Register page */
.Register {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:10vh;
    width:100%;
}

.Registerform-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.Registerform-container form{
    width:70vw;
    max-width:700px;
}

.form-button {
    width:100%;
    margin-top:20px;
}

@media only screen and (min-width: 600px) { /* Small devices */
    .Registerform-container form{
        width:60vw;
    }
}

@media only screen and (min-width: 768px) { /* Medium devices */
    .Register {
        margin-top:5vh;
    }
}


@media only screen and (min-width: 992px) { /* Large devices */
    
}


@media only screen and (min-width: 1200px) { /* Extra large devices */

}

/* User Form page */
.EditUser {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;  
}

.Userform-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

/* Footer */
.footer-section {
    display:flex;
    position:fixed;
    bottom:0;
    background-color:#414a4e;
    color:white;
    height:15vh;
    width:100vw;
    font-size:.75em;
    z-index:3;
}

.footer-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.footer-links {
    display:flex;
    flex-direction: row;
    margin: .3vh 0 .3vh 0;
}

.footer-links div{
    margin:1vh;
}

.footer-links div a{
    color:white;
}

@media only screen and (min-width: 600px) { /* Small devices */
    .body-section {
        margin-bottom:7vh;
    }

    .footer-section {
        height:7vh;
        font-size:.8em;
    }

    .footer-container {
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) { /* Medium devices */
    .navbar-nav {
        display:flex;
        flex-direction:row;
        justify-content:start;
    }

    .footer-container {
        justify-content:space-evenly;
    }
}


@media only screen and (min-width: 992px) { /* Large devices */
    .footer-container {
        justify-content:space-between;
    }
}


@media only screen and (min-width: 1200px) { /* Extra large devices */

}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media only screen and (min-width: 600px) { /* Small devices */

}

@media only screen and (min-width: 768px) { /* Medium devices */

}


@media only screen and (min-width: 992px) { /* Large devices */
    
}


@media only screen and (min-width: 1200px) { /* Extra large devices */

}