{% extends 'base.html' %}

{% block body %}
<meta id="identifier" data-identifier="coins">
<div class="coin-info">
    <h1 class="info-header">
        <span data-symbol="{{coin.symbol}}"> {% if coin.id in followed %}
            <i class="like-button bi bi-moon-stars-fill"></i>
            {% else %}
            <i class="like-button bi bi-moon"></i>
            {% endif %}</span>
        {{coin.name}}
    </h1>
    <span class="symbol">{{coin.symbol}}</span>
</div>
<meta id="performance-history" data-history="{{coin_history}}">
<div class="history-chart">
    <div class="candleStickContainer" style="width: 100%; height: 300px"></div>
</div>
<hr>
<div class="CoinsInfo">
    <div class="CoinsInfo-header">
        <div class="CoinsInfo-price">Price</div>
        <div class="CoinsInfo-percha">Percent Change (24h)</div>
        <div class="CoinsInfo-marcap">Market Cap</div>
        <div class="CoinsInfo-volume">Volume(24h)</div>
    </div>
    <div class="CoinsInfo-body">
        <div class="CoinsInfo-price dollar">{{ "${:,.2f}".format(coin.quote.USD.price|float)}}</div>
        <div class="CoinsInfo-percha percent">{{ "{:,.2f}%".format(coin.quote.USD.percent_change_24h|float)}}</div>
        <div class="CoinsInfo-marcap dollar">{{ "${:,.2f}".format(coin.quote.USD.market_cap|float)}}</div>
        <div class="CoinsInfo-volume dollar">{{ "${:,.2f}".format(coin.quote.USD.volume_24h|float)}}</div>
    </div>
</div>
<hr>
{% if news_articles %}
<div class="article-section">
    {% for article in news_articles %}
    <div class="Article">
        <div class="Article-header">
            <div class="Article-image">
                <a href="{{article.url}}">
                    <img src="{{article.urlToImage}}" alt="article-image" id="Article-image"
                        onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkWfbGNKZyGwrxymaoronVG972LJ0Nd3OspQ&usqp=CAU'">
                </a>
            </div>
            <div class="Article-name">
                <div class="Article-title">
                    <a href="{{article.url}}">
                        <h4>{{article.title}}</h4>
                    </a>
                </div>
                <div class="Article-source">
                    <a href="https://www.{{article.source.name}}.com">{{article.title}}</a>
                </div>
            </div>
        </div>
        <div class="Article-description">
            <span>{{article.description}}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<script src="/static/rocket-news.js"></script>
<script src="/static/charts-html.js"></script>
{% endblock %}