{% extends 'base.html' %}
{% block body %}

<div class="Login">
    <div class="loginform-container">
        <h1>Login</h1>
        <form action="/login" method="POST">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="row">
                    <div class="form-group col-12 col-md-5">
                        {{field.label}}
                        {{ field(placeholder=field.label.text, class="form-control") }}
                        {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <button class="btn btn-primary form-button">Login</button>
        </form>
    </div>
    <div>New to Rocket News? <a href="/register">SIGN UP</a></div>
</div>
{% endblock %}