{% extends 'base.html' %}
{% block body %}
<div class="Register">
    <div class="Registerform-container">
        <h1>Register</h1>
        <div>
            {% for message in messages %}
            {{message}}
            {% endfor %}
        </div>
        <form action="/register" method="POST">
            {{form.hidden_tag()}}
            {% for input in form if input.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {{input.label}}
                    {{ input(placeholder=input.label.text, class="form-control") }}
                    {% for error in input.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <button class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}