{% extends 'base.html' %}
{% block body %}
<div class="EditUser">
    <h1>Edit Account Information</h1>
    <div class="Userform-container">
        <form method="POST" id="user_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
                <div class="form-group">
                    {{field.label}}
                    {{ field(placeholder=field.label.text, class="form-control") }}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}

            <p>To confirm changes, enter your password:</p>
            {% if form.password.errors %}
            {% for error in form.password.errors %}
            <span class="text-danger">
                {{ error }}
            </span>
            {% endfor %}
            {% endif %}
            {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

            <div class="edit-btn-area">
                <button class="btn btn-success form-button">Edit this user!</button>
                <a href="/users/{{ user_id }}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}